APP_NAME=MyApp
APP_TIMEZONE=UTC
API_URL=http://localhost:8000
FRONTEND_MAIN_PAGE_URL=http://localhost:3000

CORS__ALLOW_ORIGINS=["http://localhost:3000", "http://127.0.0.1:8000"]
CORS__ALLOW_CREDENTIALS = True
CORS__ALLOW_METHODS = ["*"]
CORS__ALLOW_HEADERS = ["*"]

DEBUG=True
# TODO укажи в Readme.MD, что надо создать .env для работы тестов и запуска в dev среде
